.metadata
.idea
Trunk.iml
*.pyc
*.class
*.vcproj
*.am
*.in
*.manifest
*.cache
.project
configure
trunk.sln
*.m4
test.out
*~
*.DS_Store
**/numenta-web-common.jar
*.swp

Servers/

examples/prediction/data/extra/nfl/nfl2010.csv
examples/prediction/data/extra/nfl/nfl2010_train.csv

# Build artifacts and .bashrc artifacts
build/
build_system/unix/compile
build_system/unix/config.guess
build_system/unix/config.sub
build_system/unix/depcomp
build_system/unix/install-sh
build_system/unix/ltmain.sh
build_system/unix/missing
build_system/unix/py-compile
conf/matrix/hadoop/
conf/matrix/hbase/
conf/matrix/nupic-site.xml
conf/matrix/api/
conf/default/hadoop/
conf/default/hbase/
conf/default/nupic-site.xml
conf/default/rabbitmq/
conf/matrix/rabbitmq/
conf/matrix/rio_cfg.json
configure.ac
java/build/
sandbox/
external/common/lib/java/nupic.jar


# /
/.gdb_history

# /examples/prediction/
/examples/prediction/log_hotgym.txt
/examples/prediction/log.txt

# /examples/prediction/experiments/ford/
/examples/prediction/experiments/ford/gshaw-demo.zip
/examples/prediction/experiments/ford/is_alert.png
/examples/prediction/experiments/ford/report.txt
/examples/prediction/experiments/ford/sample_enviro.png
/examples/prediction/experiments/ford/sample_physio.png
/examples/prediction/experiments/ford/sample_sequences.png
/examples/prediction/experiments/ford/sample_vehic.png
/examples/prediction/experiments/ford/test_vec.png
/examples/prediction/experiments/ford/test_vecs.png
/examples/prediction/experiments/ford/test_vecs2.png
/examples/prediction/experiments/ford/networks
/examples/prediction/experiments/ford/inference
/examples/prediction/experiments/ford/imgs
/examples/prediction/experiments/ford/log_post.txt
/examples/prediction/experiments/ford/log_post2.txt
/examples/prediction/experiments/ford/log_post3.txt
/examples/prediction/experiments/ford/log_post4.txt
/examples/prediction/experiments/ford/results.pkl

# /examples/prediction/experiments/hotgym/base/
/examples/prediction/experiments/hotgym/base/inference
/examples/prediction/experiments/hotgym/base/networks
/examples/prediction/experiments/hotgym/base/report.txt
/examples/prediction/experiments/hotgym/base/results.pkl

# /py/
/py/*.am
/py/*.in
/py/.project
/py/.pydevproject

# /py/bindings/algorithms/
/py/bindings/algorithms/*.vcproj
/py/bindings/algorithms/*.am
/py/bindings/algorithms/*.in
/py/bindings/algorithms/*.manifest

# /py/bindings/iorange/
/py/bindings/iorange/iorange_py.vcproj
/py/bindings/iorange/Makefile.am
/py/bindings/iorange/Makefile.in
/py/bindings/iorange/project.manifest

# /py/cpp_region/
/py/cpp_region/*.vcproj
/py/cpp_region/*.am
/py/cpp_region/*.in
/py/cpp_region/*.manifest

# /py/nupic/frameworks/prediction/
/py/nupic/frameworks/prediction/.project
/py/nupic/frameworks/prediction/.pydevproject

# tool config
/tools/pbworks_worklog_config
/tools/syncEverything

# sandboxes
/sandbox
/localsandbox
