.metadata
Trunk.iml
*.pyc
*.class
*.manifest
*.cache
trunk.sln
*.m4
test.out
*~
*.DS_Store
*.swp
*.coverage*

# virtual environments
venv/

# build
build/

# personalized nupic configuration file
.nupic_config

# IDE project files
nbproject/
*.vcproj
*.project
*.pydevproject
.idea

# Wheels
wheelhouse/

# output from integration tests
inference/
savedmodels/
/*.please_wait
/auto_specials*.csv
/weighted_mean*.csv
/agg_gap_hours_24*.csv
/test*.txt
/test*.pkl

# other crap
*.nta/

html/

Servers/

conf/default/nupic-site.xml

# /
/.gdb_history

# /examples/prediction/
/examples/prediction/log_hotgym.txt
/examples/prediction/log.txt

# /examples/prediction/experiments/hotgym/base/
/examples/prediction/experiments/hotgym/base/networks
/examples/prediction/experiments/hotgym/base/report.txt
/examples/prediction/experiments/hotgym/base/results.pkl

# nupic.core repo is located under $NUPIC/extensions/core/
extensions/core/
experimental/

# Pip stuff
dist/
nupic.egg-info/
nupic/*py_region.*
temp/
docs/_build_html
