branches:
  only:
    - master
language: python
compiler:
  - gcc
python:
  - "2.6"
env:
  - NTA=$HOME/nta/eng NUPIC=$TRAVIS_BUILD_DIR BUILDDIR=$HOME/ntabuild DYLD_LIBRARY_PATH=$NTA/lib:$DYLD_LIBRARY_PATH LD_LIBRARY_PATH=$NTA/lib:$LD_LIBRARY_PATH
# Change this to your needs
before_script: "source $NUPIC/env.sh; export CPPFLAGS=\"-Wno-error\""
script: "exit -1"
