branches:
  except:
    - gh-pages

language: cpp

os:
  - linux

compiler:
  - clang
  - gcc

env:
  global:
    - NUPIC=$TRAVIS_BUILD_DIR
    - PATH=$TRAVIS_BUILD_DIR/python/bin:$PATH
  matrix:
    - PY_VER=2.7
    - PY_VER=2.6

matrix:
  # This excludes OSX builds from the build matrix for gcc and Python 2.6
  exclude:
    - os: osx
      env: PY_VER=2.6
    - os: osx
      compiler: gcc

# Successful builds are archived and uploaded to S3 for regression testing.
before_deploy:
  - . ./ci/travis/before_deploy-linux.sh

deploy:
  provider: s3
  access_key_id: AKIAIGHYSEHV3WFKOWNQ
  secret_access_key:
    secure: "ONG00ZCPpfU/nugFiON3K2q8IMk3nB/aAUj2Ggjf1z0CJS/cvnfIexmJhe+DJCccoco2l5gpiqp7gweH5vXEcyrzTt1I3Z+iFNas2cQ/wF3LjW0NcbdGeC9NN9kGIoOvr8g6L66CUvazYoirgbJO01ktm7LVNeGS3Q1pk36Vp10="
  bucket: artifacts.numenta.org
  region: us-west-2
  local-dir: "dist"
  upload-dir: "numenta/nupic/${TRAVIS_COMMIT}"
  skip_cleanup: true
  # Only deploy on master from one build job: linux, clang, python 2.7
  on:
    branch: master
    condition:
      - "$TRAVIS_OS_NAME == linux"
      - "$PY_VER == 2.7"
      - "$CC == clang"

git:
  submodules: false

notifications:
  irc:
    channels:
      - "irc.freenode.net#nupic-hackers"
  webhooks: http://issues.numenta.org:8081/travis

before_install:
  - . ./ci/travis/before_install-linux.sh
  - export PYTHONPATH=$PYTHONPATH:/home/travis/.local/lib/python$PY_VER/site-packages

install:
  - . ./ci/travis/install-linux.sh

script:
  - . ./ci/travis/script-run-tests.sh
  - cd $TRAVIS_BUILD_DIR
  - . ./ci/travis/script-run-examples.sh

after_success:
  - . ./ci/travis/after_success-report-coverage.sh
