branches:
  except:
    - gh-pages
language: python
compiler:
  - gcc
python:
  - "2.6"
  - "2.7"
env:
  global:
    - NUPIC=$TRAVIS_BUILD_DIR
    - NTA=$HOME/nta/eng
    - PIP_IGNORE_INSTALLED=1

    # For S3 upload from travis-artifacts
    - ARTIFACTS_AWS_REGION=us-west-2
    - ARTIFACTS_S3_BUCKET=artifacts.numenta.org

    # ARTIFACTS_AWS_ACCESS_KEY_ID
    - secure: |-
        LryXoMT+lhDYreY0xYVBZg0HbpZHik6fUh8ZqCiOoUYrCAkoMck1NWkvWMst
        di3ZnAyQKxnOzqNpWDiBufJnA4OXzm4SnkDj5NT2ZYZ56jRNFXveRD9bmXcz
        PFtP88dQvesy1el66EBBGTfuPls4pI7+Juu9iaK5jo9pup22rX0=

    # ARTIFACTS_AWS_SECRET_ACCESS_KEY
    - secure: |-
        ZDEgrBeE7f9yTjD3Va4uvkEakNcNKTgNTJ8VWT9QUZdmEvlgvGWRvCbUZHQc
        P+tJ/UVBATmEx5RHf0NqKFyfkC/VeA8C3D4ekCnbB11WF/4i8CCGCrhui9Mx
        cfgr20Rz8KuuC/TZklPjVCy+0dXS3o2CL7u2b7XDGYzBYPxayjU=

notifications:
  irc: 
    channels: 
      - "irc.freenode.net#nupic"
  webhooks: http://issues.numenta.org:8081/travis

before_install:
  - source $NUPIC/env.sh
  - gem install travis-artifacts

install: "$NUPIC/build.sh"

script: 
  # legacy binary tests
  - "$NTA/bin/htmtest"
  # (not quite everything, really)
  - "$NTA/bin/testeverything"
  # actual unit tests
  - "$NUPIC/run_tests.sh --all --coverage"

  # run all example files
    # examples/bindings
  - "python $NUPIC/examples/bindings/sparse_matrix_how_to.py" 
  - "python $NUPIC/examples/bindings/sparse_pooler_how_to.py"  
##  - "python $NUPIC/examples/bindings/svm_how_to.py" # tkinter missing in Travis build machine
##  - "python $NUPIC/examples/bindings/temporal_pooler_how_to.py" # tkinter too
    # examples/opf (run atleast 1 from each category) 
  - "python $NUPIC/examples/opf/bin/OpfRunExperiment.py $NUPIC/examples/opf/experiments/anomaly/spatial/2field_few_skewed/"
  - "python $NUPIC/examples/opf/bin/OpfRunExperiment.py $NUPIC/examples/opf/experiments/anomaly/temporal/saw_200/"
  - "python $NUPIC/examples/opf/bin/OpfRunExperiment.py $NUPIC/examples/opf/experiments/classification/category_TP_1/"
  - "python $NUPIC/examples/opf/bin/OpfRunExperiment.py $NUPIC/examples/opf/experiments/missing_record/simple_0/"
  - "python $NUPIC/examples/opf/bin/OpfRunExperiment.py $NUPIC/examples/opf/experiments/multistep/hotgym/"
  - "python $NUPIC/examples/opf/bin/OpfRunExperiment.py $NUPIC/examples/opf/experiments/opfrunexperiment_test/simpleOPF/hotgym_1hr_agg/"
             # opf/experiments/params - skip now
  - "python $NUPIC/examples/opf/bin/OpfRunExperiment.py $NUPIC/examples/opf/experiments/spatial_classification/category_1/"
    # examples/prediction
  - "python $NUPIC/examples/prediction/RunExperiment.py $NUPIC/examples/prediction/experiments/dutyCycle/problem/"
    # examples/tp
  - "python $NUPIC/examples/tp/hello_tp.py"
  - "python $NUPIC/examples/tp/tp_test.py"

after_script:
- tar -zcf build-$TRAVIS_COMMIT.tar.gz $NTA
- travis-artifacts upload --path build-$TRAVIS_COMMIT.tar.gz --target-path $TRAVIS_REPO_SLUG

