branches:
  except:
    - gh-pages
language: python
python:
  - "2.6"
  - "2.7"

git:
  submodules: false

env:
  global:
    - NUPIC=$TRAVIS_BUILD_DIR

  matrix:
    - CC=clang
    - CC=gcc

notifications:
  irc:
    channels:
      - "irc.freenode.net#nupic-hackers"
  webhooks: http://issues.numenta.org:8081/travis

before_install:
  - git clone https://github.com/numenta/nupic-linux64.git
  - (cd nupic-linux64 && git reset --hard 9e4df07ee03184d670a8801b76f206785e2a8b2e)
  - source nupic-linux64/bin/activate
  - if [ "$CC" = "gcc" ]; then export CXX=g++; fi
  - if [ "$CC" = "clang" ]; then export CXX=clang++; fi

install:
  - if [ $PY_VERSION != "2.6" ]; then (cd nupic-linux64/ && mkdir -p lib/python${PY_VERSION}/site-packages && make > /dev/null) fi
  # Workaround for multiprocessing.Queue SemLock error from run_opf_bechmarks_test.
  # See: https://github.com/travis-ci/travis-cookbooks/issues/155
  - "sudo rm -rf /dev/shm && sudo ln -s /run/shm /dev/shm"
  - pip install -q -r $NUPIC/external/common/requirements.txt
  - "cd $NUPIC"
  - "python setup.py build_ext install"

script:
  - "cd $NUPIC/build/scripts"
  # legacy binary tests
  - "make tests_pyhtm"
  # actual unit tests
  - "make tests_run_all"
  - "cd"

  # run all example files
    # examples/bindings
  - "python $NUPIC/examples/bindings/sparse_matrix_how_to.py"
##  - "python $NUPIC/examples/bindings/svm_how_to.py" # tkinter missing in Travis build machine
##  - "python $NUPIC/examples/bindings/temporal_pooler_how_to.py" # tkinter too
    # examples/opf (run atleast 1 from each category)
  - "python $NUPIC/share/opf/bin/OpfRunExperiment.py $NUPIC/share/opf/experiments/anomaly/spatial/2field_few_skewed/"
  - "python $NUPIC/share/opf/bin/OpfRunExperiment.py $NUPIC/share/opf/experiments/anomaly/temporal/saw_200/"
  - "python $NUPIC/share/opf/bin/OpfRunExperiment.py $NUPIC/share/opf/experiments/classification/category_TP_1/"
  - "python $NUPIC/share/opf/bin/OpfRunExperiment.py $NUPIC/share/opf/experiments/missing_record/simple_0/"
  - "python $NUPIC/share/opf/bin/OpfRunExperiment.py $NUPIC/share/opf/experiments/multistep/hotgym/"
  - "python $NUPIC/share/opf/bin/OpfRunExperiment.py $NUPIC/share/opf/experiments/opfrunexperiment_test/simpleOPF/hotgym_1hr_agg/"
             # opf/experiments/params - skip now
  - "python $NUPIC/share/opf/bin/OpfRunExperiment.py $NUPIC/share/opf/experiments/spatial_classification/category_1/"
    # examples/prediction
  - "python $NUPIC/share/prediction/RunExperiment.py $NUPIC/share/prediction/experiments/dutyCycle/problem/"
    # examples/tp
  - "python $NUPIC/examples/tp/hello_tp.py"
  - "python $NUPIC/examples/tp/tp_test.py"

