include external/common/requirements.txt
include .nupic_modules
include *.md
include *.txt
include VERSION

recursive-include nupic/bindings *.hpp *.cpp *.i
recursive-include extensions *.hpp *.cpp

recursive-include external/common/share/swig *.*
recursive-include external/darwin64 swig *.a
recursive-include external/linux64 swig *.a

recursive-include nupic/datafiles *.csv *.txt
recursive-include *.capnp
