<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="en" ng-app="app" id="ng-app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.0.1/dygraph-combined.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>
    <script type="text/javascript" src="./opf_visualizer.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="./opf_visualizer.css"/>
    <title>NuPIC OPF Visualization</title>
    <base href="/">
  </head>
  <body ng-controller="AppCtrl">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>NuPIC OPF Visualization</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Browse for a local file to render, then click "Render" to turn it into a graph.</p>
          <div class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <span class="btn btn-default btn-file">
                    Browse&hellip; <input type="file" file-upload-change="uploadFile">
                  </span>
                </span>
                <input type="text" class="form-control file-name" ng-model="view.fileName" readonly="readonly">
              </div>
              <button id="renderButton" class="btn btn-primary" ng-disabled="!view.canRender" ng-click="renderData()">Render</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row graphs">
        <div class="col-md-12">
          <div class="col-md-9">
            <div class="graph" id="dataContainer"></div>
          </div>
          <div class="col-md-3" ng-hide="!view.graph">
            <h4>Fields</h4>
            <div class="btn-group">
              <button class="btn btn-default btn-sm" ng-click="showHideAll(true)">Show All</button><button class="btn btn-default btn-sm" ng-click="showHideAll(false)">Hide All</button>
            </div>
            <ul class="field-selection">
              <li ng-repeat="field in view.renderedFieldsToggle track by field.name"><input type="checkbox" ng-model="field.visible" ng-click="toggleVisibility(field)"> {{field.name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
