.graphs {
  padding-top:15px;
}

.graphs .graph {
	height: 500px;
  width:100%;
}

.graphs ul.field-selection {
  list-style: none;
  padding:0;
  margin:0;
}

.graphs ul.field-selection li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
