.graphs {
  padding-top:15px;
}

.graphs .graph {
	height: 500px;
  width:100%;
}

.graphs ul.field-selection {
  list-style: none;
  padding:0;
  margin:0;
  padding-top:20px;
}

.graphs ul.field-selection li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input.file-name {
  background-color: white !important;
  cursor: text !important;
  width: 25vw !important;
}
