<header>

    <div align="center">
        <a href="{{ site.baseurl }}/index.html">
            <img src="{{ site.baseurl }}/images/250x250numentaicon.gif"/>
            <h1>{{ site.title }}</h1>
        </a>
        <p class="tagline">{{ site.tagline }}</p>
    </div>

    <p class="view"><a href="https://github.com/numenta/nupic">View the Project on GitHub <small>numenta/nupic</small></a></p>

    <ul class="buttons">
        <li><a href="https://github.com/numenta/nupic/zipball/master">Download <strong>ZIP File</strong></a></li>
        <li><a href="https://github.com/numenta/nupic/tarball/master">Download <strong>TAR Ball</strong></a></li>
        <li><a href="https://github.com/numenta/nupic">View On <strong>GitHub</strong></a></li>
    </ul>

    {% include nav.html %}


</header>
