<header>

    <div align="center">
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/images/250x250numentaicon.gif"/>
            <h1>{{ site.title }}</h1>
        </a>
        <p class="tagline">{{ site.tagline }}</p>

        <iframe src="http://ghbtns.com/github-btn.html?user=numenta&amp;repo=nupic&amp;type=watch&amp;count=true&amp;size=large"
          allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30">
        </iframe>

    </div>

    {% include nav.html %}


</header>
