<nav>
    <ul>
        <li><a href="{{ site.baseurl }}/arcanum.html">Home</a></li>
        <li><a href="{{ site.baseurl }}/nupic.html">Nupic</a></li>
        <li><a href="{{ site.baseurl }}/community.html">Community</a></li>
        <li><a href="{{ site.baseurl }}/licenses/">Licenses</a></li>
        <li><a href="{{ site.baseurl }}/news/">News</a></li>
        <li><a href="{{ site.baseurl }}/bmi/">Biological & Machine Intelligence</a></li>
        <li><a href="{{ site.baseurl }}/faq.html">FAQ</a></li>
    </ul>
</nav>
