<nav>
    <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/nupic.html">NuPIC</a></li>
        <li><a href="{{ site.baseurl }}/community.html">Community</a></li>
        <li><a href="{{ site.baseurl }}/events.html">Events</a></li>
        <li><a href="{{ site.baseurl }}/media.html">Media</a></li>
        <li><a href="{{ site.baseurl }}/licenses/">Licenses</a></li>
        <li><a href="{{ site.baseurl }}/news/">News</a></li>
        <!-- <li><a href="{{ site.baseurl }}/bmi/">Biological & Machine Intelligence</a></li> -->
        <li><a href="{{ site.baseurl }}/faq.html">FAQ</a></li>
    </ul>
</nav>
