body section p {
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

p.tagline {
    font-size: 16pt;
}
section p.tagline {
    font-size: 16pt;
    font-style: italic;
}

header nav ul {
    margin: 0;
    padding: 0;

}
header nav li {
    list-style: none;
    font-size: 14pt;
}

div.wrapper section nav,
div.wrapper section nav ul,
div.wrapper section nav ul li {
    margin: 0;
    padding: 0;
}
div.wrapper section nav {
    float: right;
}
div.wrapper section nav ul li {
    list-style: none;
    float: left;
    padding: 10px;
}

p.toplink {
    text-align: right;
    padding: 10px 0;
    margin: 0;
}

span.nowrap {
    white-space: nowrap;
}

.todo {
    color: red;
    font-weight: bold;
}

div.image-wrapper {
    text-align: center;
}

div.image-wrapper p {
    font-size: 10pt;
}

h3.date {
    float: right;
    font-size: 12pt;
    font-style: italic;
}

#build-status {
    position: absolute;
    top: 10px;
    left: 10px;
}