body section p {
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

p.tagline {
    font-size: 16pt;
}
section p.tagline {
    font-size: 16pt;
    font-style: italic;
}

header nav ul {
    margin: 0;
    padding: 0;

}
header nav li {
    list-style: none;
    font-size: 14pt;
}

div.wrapper section nav,
div.wrapper section nav ul,
div.wrapper section nav ul li {
    margin: 0;
    padding: 0;
}
div.wrapper section nav {
    float: right;
}
div.wrapper section nav ul li {
    list-style: none;
    float: left;
    padding: 10px;
}

p.toplink {
    text-align: right;
    padding: 10px 0;
    margin: 0;
}

span.nowrap {
    white-space: nowrap;
}

.todo {
    color: red;
    font-weight: bold;
}

div.image-wrapper {
    text-align: center;
}

div.image-wrapper p {
    font-size: 10pt;
}

h3.date {
    float: right;
    font-size: 12pt;
    font-style: italic;
}

h5 {
    font-size: 12pt;
    padding-left: 20px;
}

#build-status {
    position: absolute;
    top: 10px;
    left: 10px;
}
.pull-request {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 5px;
}
.pull-request pre {
    border-radius: 0;
}
.pull-request h4, .pull-request p, .pull-request table td {
    padding: 0;
    margin: 0;
    border: 0;
}
.pull-request .status {
    padding: 2px 5px;
}
.pull-request .body {
    font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    color:#333;
    background-color: white;
    font-size:12px;
    border: solid #ddd 1px;
    padding: 3px 6px;
}
.pull-request.overdue .open-since {
    font-weight: bold;
    color: black;
    padding: 0px 5px;
    border-radius: 6px;
    -webkit-animation: pulse-red 750ms infinite alternate;
    -moz-animation: pulse-red 750ms infinite alternate;
}
.pull-request.overdue h4 a {
    color: black;
}
.success {
    background-color: #8CF58F;
}
.failure {
    background-color: #FF6666;
    color: black;
    font-weight: bold;
}
.error {
    color: yellow;
    font-weight: bold;
    background-color: red;
}
.pending {
    background-color: #ccc;
}

div.event {
    background-color: #ddd;
    padding: 30px;
    border-radius: 10px;
    border: solid 1px #aaa;
    margin-bottom: 20px;
}
div.sub-event {
    margin: 30px 0;
}
div.event .author {
    text-align: right;
}

section.media img {
    border: 1px solid black;
}
section.media h2 {
    margin-top: 50px;
}
section.media h3 {
    text-align: right;
    margin: 0 40px 10px 0;
    padding: 0;
}
@-webkit-keyframes pulse-red {
      0% {background-color: red;}
     100% {background-color: orange;}
}
@-moz-keyframes pulse-red {
      0% {background-color: red;}
     100% {background-color: orange;}
}